div
  input(type='hidden' name='_csrf' value=csrfToken)
  div(class='form-group')
    label(for='project') Project Name
    input(type='text' id='project' name='project' value=issue.project placeholder=issue.project ? issue.project : '' class='form-control')
  div(class='form-group')
    label(for='issue_type') Issue Type
    select(name='issue_type' id='issue_type' value=issue.issue_type class='form-control')
      option(value=`${ issue.issue_type ? issue.issue_type : '' }`) #{ current_issue_type ? current_issue_type : '- select -' }
      option(value='Bug') Bug
      option(value='Improvement') Improvement
      option(value='Task') Task
      option(value='New Feature') New Feature
  div(class='form-group')
    label(for='summary') Summary
    input(type='text' id='summary' name='summary' value=issue.summary placeholder=issue.summary ? issue.summary : '' class='form-control')
  div(class='form-group')
    label(for='description') Desription
    textarea(cols="30", rows="3" type='text' id='description' name='description' value=issue.description placeholder=issue.description ? issue.description : '' class='form-control') #{ current_description ? current_description : ''}
  div(class='form-group')
    label(for='priority') Priority
    select(name='priority' id='priority' value=issue.priority class='form-control')
      option(value=`${ issue.priority ? issue.priority : '' }`) #{ current_priority ? current_priority : '- select -' }
      option(value='Low') Low
      option(value='Medium') Medium
      option(value='High') High
      option(value='Urgent') Urgent
  div(class='form-group')
    label(for='reporter') Reporter
    input(type='text' id='reporter' name='reporter' value=issue.reporter placeholder=issue.reporter ? issue.reporter : `` class='form-control')
  div(class='form-group')
    label(for='assignee') Assignee
    input(type='text' id='assignee' name='assignee' value=issue.assignee placeholder=issue.assignmee ? issue.assignee : '' class='form-control')
  div(class='form-group')
    label(for='status') Status
    select(name='status' id='status' value=issue.status class='form-control')
      option(value=`${ issue.status ? issue.status: '' }`) #{ current_status ? current_status : '- select -' }
      option(value='Open') Open
      option(value='Approved') Approved
      option(value='Closed') Closed
      option(value='Done') Done
      option(value='In Progress') In Progress
      option(value='In Review') In Review
      option(value='Pending') Pending
      option(value='Reopened') Reopened
      option(value='Second Review') Second Review
      option(value='To Do') To Do
      option(value='Waiting for Approval') Waiting for Approval
      option(value='Waiting for Support') Waiting for Support
  div(class='form-group')
    label(for='logs') #{log ? 'History and Updates: ' : ''}
    p
      ul
        each log in issue.log
          li= `${log.date.toLocaleString(undefined, { year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'})}: ${log.description}`
