div
  input(type='hidden' name='_csrf' value=csrfToken)
  div(class='form-group')
    label(for='project') Project Name *
    input(type='text' id='project' name='project' placeholder=issue.project ? issue.project : '' class='form-control' required)
  div(class='form-group')
    label(for='issue_type') Issue Type *
    select(name='issue_type' id='issue_type' value=issue.issue_type class='form-control dropdown' data-display='static' data-toggle:'dropdown' required)
      option(value='') - select -
      option(value='bug') Bug
      option(value='improvement') Improvement
      option(value='task') Task
      option(value='new_feature') New Feature
  div(class='form-group')
    label(for='summary') Summary *
    input(type='text' id='summary' name='summary' value=issue.summary placeholder=issue.summary ? issue.summary : '' class='form-control' required)
  div(class='form-group')
    label(for='description') Desription *
    textarea(cols="30", rows="3" type='text' id='description' name='description' value=issue.description placeholder=issue.description ? issue.description : '- drag right-bottom corner to resize -' class='form-control' required)
  div(class='form-group')
    label(for='priority') Priority
    select(name='priority' id='priority' value=issue.priority class='form-control')
      option(value='') - select -
      option(value='low') Low
      option(value='medium') Medium
      option(value='high') High
      option(value='urgent') Urgent
  div(class='form-group')
    label(for='reporter') Reporter
    input(type='text' id='reporter' name='reporter' value=issue.reporter placeholder=issue.reporter ? issue.reporter : `- required. input full name -` class='form-control')
  div(class='form-group')
    label(for='assignee') Assignee
    input(type='text' id='assignee' name='assignee' value=issue.assignee placeholder=issue.assignee ? issue.assignee : '' class='form-control')
  div(class='form-group')
    label(for='status') Status
    select(name='status' id='status' value=issue.status placeholder="e.g. On Review" class='form-control')
      option(value='') - select -
      option(value='open') Open
      option(value='approved') Approved
      option(value='archived') Archived
      option(value='closed') Closed
      option(value='done') Done
      option(value='in_progress') In Progress
      option(value='inreview') In Review
      option(value='pending') Pending
      option(value='reopened') Reopened
      option(value='second_review') Second Review
      option(value='to_do') To Do
      option(value='waiting_for_approval') Waiting for Approval
      option(value='waiting_for_support') Waiting for Support
