extends head.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  div(class='top')
    a(class='btn top-bookmark btn-black' href='/' id='h1')
      h1 Issue Tracker
    div(class='py-3')
      a(class='btn top-bookmark btn-green' href=`/user/${user._id}/issue/add` role='button') Add
      a(class='btn top-bookmark btn-purple' href=`/user/${user._id}/issue/find` role='button') Find
      a(class='btn this-bookmark' role='button') Delete
      a(class='btn top-bookmark btn-orange' href=`/user/${user._id}/issue` role='button') Issues
      a(class='btn top-bookmark btn-maroon' href=`/user/${user._id}` role='button') Account
  div(class='container')
    div(class='alert alert-danger' role='alert')
      p Are you sure you want to delete this issue?
    form(action=`/user/${user._id}/issue/${issue._id}/delete` method='post')
      include issue-form-fields.pug
      div(class='py-4')
        button(type='submit' class='btn btn-red') Delete Issue
        a(href=`/user/${user._id}/issue/${issue._id}/update` class='btn btn-orange') Cancel Delete
