extends head.pug

block content
  nav(class='top')
    h1(class='button top-bookmark bg-black') Issue Tracker
    div(class='py-3')
      a(class='button top-bookmark bg-green' id='add-issue' href=`/user/${user._id}/issue/add` role='button') Add
      a(class='button top-bookmark bg-purple' id='find-issue' href=`/user/${user._id}/issue/find` role='button') Find
      span(class='button this-bookmark') Issues
      a(class='button top-bookmark bg-maroon' href=`/user/${user._id}` role='button') Account
      span(class='button top-bookmark bg-pink')
  div(class='container')
    div(class='sub-head')
      a(class='logout txt-red' href=`/`) Logout
      h2 #{ title }
    table(class='table table-striped table-hover')
      thead(class='thead-dark')
        tr
          th(scope='col') Project
          th(scope='col') Issue Type
          th(scope='col') Priority
          th(scope='col') Summary
          th(scope='col') Description
          th(scope='col') Reporter
          th(scope='col') Assignee
          th(scope='col') Status
          th(scope='col') Last Update
          th(scope='col')
      tbody
        each issue in issues.reverse()
          tr
            td= issue.project
            td= issue.issue_type
            td= issue.priority
            td= issue.summary
            td= issue.description
            td= issue.reporter
            td= issue.assignee
            td= issue.status
            td= issue.updated
            td(class='update-delete')
              a(class='button bg-blue' href=`/user/${user._id}/issue/${issue._id}/update` role='button') Update
              a(class='button bg-red' href=`/user/${user._id}/issue/${issue._id}/delete` role='button') Delete
  include footer
