div
  input(type='hidden' name='_csrf' value=csrfToken)
  div(class='form-group')
    label(for='project') Project
    input(type='text' id='project' name='project' value=issue.project placeholder='e.g. Project X' class='form-control')
  div(class='form-group')
    label(for='issue_type') Issue Type
    select(name='issue_type' id='issue_type' value=issue.issue_type class='form-control')
      option(value='') - select one -
      option(value='bug') Bug
      option(value='improvement') Improvement
      option(value='task') Task
      option(value='new_feature') New Feature
  div(class='form-group')
    label(for='summary') Summary
    input(type='text' id='summary' name='summary' value=issue.summary placeholder='e.g. Div not centered' class='form-control')
  div(class='form-group')
    label(for='description') Desription
    textarea(cols="30", rows="3" type='text' id='description' name='description' value=issue.description placeholder=issue.description ? issue.description : 'e.g. All the details here. Drag drop right-bottom corner to resize.' class='form-control')
  div(class='form-group')
    label(for='reporter') Reporter
    input(type='text' id='reporter' name='reporter' value=issue.reporter placeholder='e.g. Cersei Lannister' class='form-control')
  div(class='form-group')
    label(for='assignee') Assignee
    input(type='text' id='assignee' name='assignee' value=issue.assignee placeholder='e.g. Tyrion Lannister' class='form-control')
  div(class='form-group')
    label(for='status') Status
    select(name='status' id='status' value=issue.status placeholder="e.g. On Review" class='form-control')
      option(value='') - select one -
      option(value='Open') Open
      option(value='Approved') Approved
      option(value='Closed') Closed
      option(value='Done') Done
      option(value='In Progress') In Progress
      option(value='In Review') In Review
      option(value='Pending') Pending
      option(value='Reopened') Reopened
      option(value='Second Review') Second Review
      option(value='To Do') To Do
      option(value='Waiting for Approval') Waiting for Approval
      option(value='Waiting for Support') Waiting for Support
