input(type='hidden' name='_csrf' value=csrfToken)
div(class='form-group')
  label(for='first-name') First Name
  input(type='text' id='first_name' name='first_name' value=user.first_name placeholder='e.g. John' class='form-control')
div(class='form-group')
  label(for='last-name') Last Name
  input(type='text' id='last_name' name='last_name' value=user.last_name placeholder='e.g. Snow' class='form-control')
div(class='form-group')
  label(for='email') Email
  input(type='text' id='email' name='email' value=user.email placeholder='e.g. johnsnow@email.com' class='form-control')
div(class='form-group')
  label(for='password') Password
  input(type='text' id='password' name='password' value=user.password placeholder='e.g. Password123' class='form-control')
