extends head.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  nav(class='top')
    h1(class='button top-bookmark btn-black' role='button') Issue Tracker
    div(class='py-3')
      a(class='button top-bookmark btn-green' href=`/user/${user._id}/issue/add` role='button') Add
      a(class='button top-bookmark btn-purple' href=`/user/${user._id}/issue/find` role='button') Find
      a(class='button top-bookmark btn-orange' href=`/user/${user._id}/issue` role='button') Issues
      a(class='button this-bookmark' role='button') Account

  div(class='container')
    div(class='inner')
      p First Name: #{first_name}
      p Last Name: #{last_name}
      p Email: #{email}

    div(class='py-3')
      a(class='button btn-blue' href=`/user/${user._id}/edit` role='button') Edit
      a(class='button btn-red' href=`/user/${user._id}/delete` role='button') Delete
  include footer.pug
