extends head.pug

block content
  div(class='container')
    div(class='py-3')
      a(class='btn btn-success' href='/user/add' role='button') Add User
    table(class='table table-striped table-hover')
      thead(class='thead-dark')
        tr
          th(scope='col') First Name
          th(scope='col') Last Name
          th(scope='col') Email
      tbody
        each user in users
          tr
            td= user.first_name
            td= user.last_name
            td= user.email
            td
              a(class='btn btn-primary' href=`/user/${user._id}/edit` role='button') Edit User
              a(class='btn btn-danger ml-2' href=`/user/delete/${user._id}` role='button') Delete User
