extends head.pug

block content
  nav(class='top')
    h1(class='button top-bookmark bg-black' role='button') Issue Tracker
    div(class='py-3')
      a(class='button top-bookmark bg-purple' role='button')
      a(class='button top-bookmark bg-orange' role='button')
      a(class='button top-bookmark bg-blue' role='button')
      a(class='button top-bookmark bg-green' href=`/user/add` role='button') Add User
      a(class='button top-bookmark bg-pink' href='/readme') Read Me
  div(class='container')
    h2 #{ title }
    table(class='table table-striped table-hover')
      thead(class='thead-dark')
        tr
          th(scope='col') First Name
          th(scope='col') Last Name
          th(scope='col') Email
      tbody
        each user in users
          tr
            td= user.first_name
            td= user.last_name
            td= user.email
            td
              a(class='button bg-blue' href=`/user/${user._id}/edit` role='button') Edit
              a(class='button bg-red' href=`/user/delete/${user._id}` role='button') Delete
  include footer.pug
