extends head.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  nav(class='top')
    h1(class='button top-bookmark bg-black') Issue Tracker
    div(class='py-3')
      a(class='button top-bookmark bg-green' href=`/user/${user._id}/issue/add` role='button') Add
      a(class='button top-bookmark bg-purple' href=`/user/${user._id}/issue/find` role='button') Find
      a(class='button top-bookmark bg-orange' href=`/user/${user._id}/issue` role='button') Issues
      span(class='button this-bookmark') Account
      span(class='button top-bookmark bg-pink')
  div(class='container')
    div(class='sub-head')
      a(class='logout txt-red' href=`/`) Logout
      h2 #{ title }
    div(class='inner')
      p First Name: #{first_name}
      p Last Name: #{last_name}
      p Email: #{email}

    div(class='py-3')
      a(class='button bg-blue' href=`/user/${user._id}/edit` role='button') Edit
      a(class='button bg-red' href=`/user/${user._id}/delete` role='button') Delete
  include footer.pug
