extends head.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  div(class='top')
    a(class='btn top-bookmark btn-black' id='h1')
      h1 Issue Tracker
    div(class='py-3')
      a(class='btn top-bookmark btn-green' href=`/user/${user._id}/issue/add` role='button') add
      a(class='btn top-bookmark btn-purple' href=`/user/${user._id}/issue/find` role='button') find
      a(class='btn top-bookmark btn-blue' href=`/user/${user._id}/issue` role='button') issues
      a(class='btn this-bookmark' href=`/user/${user._id}` role='button') user

  div(class='container')
    div(class='inner')
      p First Name: #{first_name}
      p Last Name: #{last_name}
      p Email: #{email}

    div(class='py-3')
      a(class='btn btn-blue' href=`/user/${user._id}/edit` role='button') edit user
