extends head.pug

include utils.pug

block content
  nav(class='top')
    h1(class='button top-bookmark bg-black') Issue Tracker
    div(class='py-3')
      a(class='button top-bookmark bg-green' href='/user/add' role='button') Create User
      span(class='button this-bookmark') Login
      span(class='button top-bookmark bg-orange' role='button')
      span(class='button top-bookmark bg-maroon' role='button')
      span(class='button top-bookmark bg-pink' aria-label="empty tab")
  div(class='container')
    div(class='sub-head')
      a(class='logout txt-red')
      h2 #{ title }
    +validationErrorSummary(errors)
    form(action=urlPath method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class='form-group')
        label(for='email') Email
        input(type='text' id='email' name='email' value=user.email placeholder='e.g. jk@email.com [use this email for demo]' class='form-control')
      div(class='form-group')
        label(for='password') Password
        input(type='password' id='password' name='password' value=user.password placeholder='e.g. Password123 [use this password for demo]' class='form-control')
      div(class='py-4')
        button(class='button bg-blue' type='submit') #{ title }
        a(class='button bg-orange' href='/') Cancel
        a(class='button bg-green' href='/user/add') Create User
  include footer.pug
