extends head.pug

block content
  div(class='top')
    a(class='btn top-bookmark btn-black' href='/' id='h1')
      h1 Issue Tracker
    div(class='py-3')
      a(class='btn top-bookmark btn-green' href=`/user/add` role='button') Add User
      a(class='btn top-bookmark btn-yellow' role='button')
      a(class='btn top-bookmark btn-purple' role='button')
      a(class='btn top-bookmark btn-orange' role='button')
      a(class='btn top-bookmark btn-maroon' role='button')
      a(class='btn top-bookmark btn-pink' href='/readme') Read Me
  div(class='container')
    table(class='table table-striped table-hover')
      thead(class='thead-dark')
        tr
          th(scope='col') First Name
          th(scope='col') Last Name
          th(scope='col') Email
      tbody
        each user in users
          tr
            td= user.first_name
            td= user.last_name
            td= user.email
            td
              a(class='btn btn-blue' href=`/user/${user._id}/edit` role='button') Edit
              a(class='btn btn-red' href=`/user/delete/${user._id}` role='button') Delete
